extends layout/main.pug


include ../blocks/sPrices/_sPrices.pug
include ../blocks/sShedule/_sShedule.pug

block variables
	- let  mainPage= 'main-page'
	- let  bg= '01.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	+b.header-img
		img(loading="lazy" src="img/@2x/header-img.png" alt="")
	+sPrices()
	+sShedule()
	//a.link-modal-js(href="#modal-call") sadasdsa
	//a.link-modal-js(href="#modal-call") sadasdsa
	//+mob-mnu()
	//+icon("telegram")
	//+header()
	//+top-nav()
	//+topLine()
	//+headerBlock()
	//+sForm()
	//+sContact()
	//+footer()