extends layout/main.pug

include ../blocks/sColorPic/_sColorPic.pug

block variables
	- let  mainPage= 'main-page'
	- let  bg= '01.png'

block title
	- let  title= 'title'
	title= title
block pagecontent
	+sColorPic()